/*========== workadium_site 2018_03_09 global style ==========*/

@font-face{
  font-family: 'osc-bold';  
  src: url('../fonts/OpenSansCondensed-Bold.ttf') format('truetype'); /* Safari, Android, iOS */       
}

@font-face{
  font-family: 'osc-light';  
  src: url('../fonts/OpenSansCondensed-Light.ttf') format('truetype'); /* Safari, Android, iOS */       	       
}

@font-face{
  font-family: 'osc-lightitalic';  
  src: url('../fonts/OpenSansCondensed-LightItalic.ttf') format('truetype'); /* Safari, Android, iOS */       
}

*, *::after, *::before{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

img{
	max-width: 100%;
	height: auto;
}

body{
	font: normal 16px 'osc-light', sans-serif;	
	color: #221f1f;
}

.container{
	max-width: 1062px;
	margin: 0 auto;
}

/*========== header style ==========*/

.header{
	background-color: #27273e;
	padding: 12px 0;
}

.header .container{	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;	
}

.header__info_tel{
	margin-bottom: 6px;
}

.header__info_tel a{
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.header__info_work{
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	text-decoration: underline;
	color: #ec1e79;	
}

.header__info_work:hover{
	color: rgba(93, 209, 248, 0.7);	
}

.header__info_work{
	position: relative;
}

.header__info_worktime {
	position: absolute;
	left: 960px;
}

.header__info_work:hover .header__info_worktime{
	left: 0px;
	top: 32px;
}

/*========== footer style ==========*/

.footer{
	background-color: #27273e;
	padding: 12px 0;
	color: #fff;
}

.footer .container{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.footer__author, .footer__logo, .footer__social{
	flex: 0 0 288px;
}

.footer__author{
	font: normal 14px 'osc-light', sans-serif;	
	color: #fff;
}

.footer__author_par1 a{	
	font-weight: bold;
	font-family: 'osc-bold', sans-serif;
	color: #fff;
}

.footer__author_par2 a{	
	font-weight: bold;
	font-family: 'osc-bold', sans-serif;
	text-decoration: none;
	color: #fff;	
}

.footer__social_par1{
	font-weight: bold;
	font-family: 'osc-bold', sans-serif;	
	font-size: 14px;
	letter-spacing: 1px;
	margin-bottom: 8px;
}

.footer__social_icon .footer__icon{
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 8px;
}

.footer__social_icon .footer__vk{
	background: url('../images/work/footer__ico_vk.png') center center no-repeat;
}

.footer__social_icon .footer__vk:hover{
	background: url('../images/work/footer__ico_vk_hover.png') center center no-repeat;
}

.footer__social_icon .footer__fb{
	background: url('../images/work/footer__ico_fb.png') center center no-repeat;
}

.footer__social_icon .footer__fb:hover{
	background: url('../images/work/footer__ico_fb_hover.png') center center no-repeat;
}

.footer__social_icon .footer__google{
	background: url('../images/work/footer__ico_google.png') center center no-repeat;
}

.footer__social_icon .footer__google:hover{
	background: url('../images/work/footer__ico_google_hover.png') center center no-repeat;
}

.footer__social_icon .footer__tw{
	background: url('../images/work/footer__ico_tw.png') center center no-repeat;
}

.footer__social_icon .footer__tw:hover{
	background: url('../images/work/footer__ico_tw_hover.png') center center no-repeat;
}

.footer__social_icon .footer__rss{
	background: url('../images/work/footer__ico_rss.png') center center no-repeat;
}

.footer__social_icon .footer__rss:hover{
	background: url('../images/work/footer__ico_rss_hover.png') center center no-repeat;
}