/*========== workadium.css 2018_03_09 global style ==========*/

/*========== main style ==========*/

.container .main{
	max-width: 888px;
	margin-left: auto;
}

.main .main__nav{
	padding: 12px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
}

.main__nav a{
	display: inline-block;
	padding: 16px 32px;
	text-decoration: none;
	text-transform: uppercase;
	color: #ec1e79;
	font-weight: bold;
}

.main__nav .main__nav_price{
	background: url('../images/work/main__nav_ico_price.png') left center no-repeat;
}

.main__nav .main__nav_price:hover{
	background: url('../images/work/main__nav_ico_pricehover.png') left center no-repeat;
	color: #221f1f;
}

.main__nav .main__nav_comm{
	background: url('../images/work/main__nav_ico_comm.png') left center no-repeat;
}

.main__nav .main__nav_comm:hover{
	background: url('../images/work/main__nav_ico_commhover.png') left center no-repeat;
	color: #221f1f;
}

.main__nav .main__nav_active{
	background: url('../images/work/main__nav_ico_workhover.png') left center no-repeat;
	color: #221f1f;
}

.main__heading h1{
	font-size: 48px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;	
	line-height: 560px;
	background: url('../images/work/main__head_bg.jpg') center center no-repeat;
	padding-left: 64px;
	margin-top: 0;
	margin-bottom: 30px;
}

.main__heading h1:hover{
	background: url('../images/work/main__head_bg_hover.jpg') center center no-repeat;	
}

/*========== main__content style ==========*/

.main .main__content{
	font: normal 18px/30px 'osc-light', sans-serif;
	max-width: 704px;
	margin-right: auto;
	margin-bottom: 64px;
}

.main__content p, .main__content_ul li{
	margin-bottom: 14px;
}

.main__content .main__content_par2{
	font-family: 'osc-bold';
}

.main__content_ul{
	list-style-type: none;	
}

.main__content_ul li:before{
	display: inline-block;
	margin: 0 14px 4px 18px;
	content: "";
	width: 5px;
	height: 5px;
	background-color: #ec1e79;
	border-radius: 50%;
}

.main__content .main__content_par4{
	color: #fff;
	background-color: #27273e;
}

.main__content .main__content_par4{
	padding: 12px 30px;	
}

.main__content .main__content_par4 strong{
	color: #ec1e79;
}

/*========== main__partners style ==========*/

.main .main__partners{
	max-width: 704px;
	margin-right: auto;	
}

.main__partners h2{
	font-size: 48px;
	margin-bottom: 48px;
}

.main__partners_top, .main__partners_bottom{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
	margin-bottom: 62px;
}

.main__partners a{
	display: inline-block;
	min-height: 64px;
}

.main__top01, .main__top02, .main__top03, .main__bottom01, .main__bottom02, .main__bottom03{
	flex: 1 0 auto;	
}

.main__top01{
	background: url('../images/work/main__partners01.png') left center no-repeat;
}

.main__top01:hover{
	background: url('../images/work/main__partners01_hover.png') left center no-repeat;
}

.main__top02{	
	background: url('../images/work/main__partners02.png') center center no-repeat;
}

.main__top02:hover{	
	background: url('../images/work/main__partners02_hover.png') center center no-repeat;
}

.main__top03{	
	background: url('../images/work/main__partners03.png') right center no-repeat;
}

.main__top03:hover{	
	background: url('../images/work/main__partners03_hover.png') right center no-repeat;
}

.main__bottom01{	
	background: url('../images/work/main__partners04.png') left center no-repeat;
}

.main__bottom01:hover{	
	background: url('../images/work/main__partners04_hover.png') left center no-repeat;
}

.main__bottom02{	
	background: url('../images/work/main__partners05.png') center center no-repeat;
}

.main__bottom02:hover{	
	background: url('../images/work/main__partners05_hover.png') center center no-repeat;
}

.main__bottom03{	
	background: url('../images/work/main__partners06.png') 78% center no-repeat;
}

.main__bottom03:hover{	
	background: url('../images/work/main__partners06_hover.png') 78% center no-repeat;
}

/*========== adaptive style ==========*/

/* Large devices Desktops (более 1200px) */
@media only screen and (min-width: 1201px) {

}

/* Medium devices Desktops (от 1200px до 993px) */
@media only screen and ( min-width: 993px) and (max-width: 1200px) {
	
}

/* Small devices Tablets (от 992px до 769px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

}

/* Small devices Phones (от 768px до 481px) */
@media only screen and  (min-width: 481px) and (max-width: 768px) {

}

/* Extra small devices Phones (менее 480px) */
@media only screen and (max-width: 480px) {

}